.text {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 2000px;
    background: url("../../assets/space.jpg") center;
    background-attachment: fixed;
}

.text-label {
    margin-top: 100px;
    text-align: center;
    font: bolder 10vw 'Alfa Slab One';
    text-align: center;
    background: #3b294a;
    background-clip: text;
    color: #3b294a;
}