body {
    scroll-behavior: smooth;
}

.nav {
    filter: opacity(75%);
    transition: 1s;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #3b294a;
    height: 75px;
    z-index: 5;
    color: #fff;
}

.nav-links {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.nav-link {
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    transition: 0.5s;
    text-shadow:
    0 0 2px #ffffff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 150px #fff;
}