.alien {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 4000px;
    background-color: #6b5180;
}

.alien-canvas {
    width: 50%;
    height: 100%;
}

.alien-text {
    padding: 20px;
    height: 800px;
    background-color: #553c6a;
    padding: 20px;
    margin-top: -40px;
    margin-left: 50px;
    text-align: left;
    font-size: 20px;
    width: 35%;
    color: #fff
}

.alien-header {
    color: #c494ec;
    font-size: 3em;
    animation: animationLoop 2s infinite;
}

@keyframes animationLoop {
    0%{
        text-shadow:
            0 0 2px #c494ec,
            0 0 4px #c494ec,
            0 0 6px #c494ec,
            0 0 40px #c494ec,
            0 0 80px #c494ec,
            0 0 90px #c494ec,
            0 0 100px #c494ec,
            0 0 150px #c494ec;
    }
    100%{
        text-shadow:
            0 0 2px #c494ec,
            0 0 4px #c494ec,
            0 0 6px #c494ec,
            0 0 10px #c494ec,
            0 0 45px #c494ec,
            0 0 55px #c494ec,
            0 0 80px #c494ec;
    }
}